@model HairSalon.Models.Appointment

<h4>Add a new appointment</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Client)
  @Html.DropDownList("ClientId")

  @Html.LabelFor(model => model.Notes)
  @Html.TextAreaFor(model => model.Notes)

  @Html.LabelFor(model => model.Duration)
  @Html.EditorFor(model => model.Duration)

  @Html.LabelFor(model => model.TotalBill)
  @Html.EditorFor(model => model.TotalBill)

  <input class="form-controller" asp-for="DateTime" />
  <button type="submit">Add Appointment</button>
}