@{
  Layout = "_Layout";
}

@model HairSalon.Models.Appointment

<h4>Add a new appointment</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Client)
  @Html.DropDownList("ClientId")

  @Html.LabelFor(model => model.Notes)
  @Html.TextAreaFor(model => model.Notes)

  @Html.LabelFor(model => model.Duration)
  @Html.TextBoxFor(model => model.Duration)

  <input class="form-controller" asp-for="DateTime" />
  <button type="submit">Add Appointment</button>
}

<p>@Html.ActionLink("Back to clients", "Index", "Clients")</p>