@{
  Layout = "_Layout";
}

@model HairSalon.Models.Appointment

<h4>Add a new appointment</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Notes)
  @Html.TextAreaFor(model => model.Notes)

  @Html.LabelFor(model => model.StartTime)
  @Html.TextBoxFor(model => model.StartTime, "{0:MM/dd/yyyy hh:mm}")

  @Html.LabelFor(model => model.EndTime)
  @Html.TextBoxFor(model => model.StartTime, "{0:MM/dd/yyyy hh:mm}")

  <input type="submit" value="Add appointment" />
}

<p>@Html.ActionLink("Show all clients", "Index", "Clients")</p>