@{
  Layout = "_Layout";
}

@model HairSalon.Models.Appointment

<h2>Appointment Details</h2>
<hr />
<h3>Appointment between @Model.Stylist and @Model.Client:</h3>

<h4>Start Time: @Html.DisplayFor(model => model.StartTime)</h4>
<h4>End Time: @Html.DisplayFor(model => model.EndTime)</h4>

<p>@Html.DisplayNameFor(model => model.Notes): @Html.DisplayFor(model => model.Notes)</p>

<p>@Html.ActionLink("Back to client", "Details", "Clients", new { id = Model.ClientId })</p>