@model HairSalon.Models.Appointment

<h2>Appointment Details</h2>
<hr />
<h3>Appointment for @Html.DisplayFor(model => model.Client.Stylist.Name) with @Html.DisplayFor(model => model.Client.Name)</h3>

<h3>Appointment at @Html.DisplayFor(model => model.DateTime) for @Html.DisplayFor(model => model.Duration) minutes</h3>

<h3><em>@Html.DisplayNameFor(model => model.Notes):</em> @Html.DisplayFor(model => model.Notes)</h3>
<hr />

<div class="btn-group-vertical">
  @Html.ActionLink("To client appointments", "ViewAppts", "Clients", new { id = Model.ClientId }, new { @role="button", @class="btn" })
  @Html.ActionLink("Edit appointment", "Edit", new { id = Model.AppointmentId }, new { @role="button", @class="btn" })
  @Html.ActionLink("Delete appointment", "Delete", new { id = Model.AppointmentId }, new { @role="button", @class="btn" })
</div>