@model HairSalon.Models.Appointment

<h3>Edit appointment for @Html.DisplayFor(model => model.Stylist.Name) with @Html.DisplayFor(model => model.Client.Name)</h3>
<hr />

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AppointmentId)

  @Html.LabelFor(model => model.Notes, new {@class = "form-label"})
  @Html.TextAreaFor(model => model.Notes, new {@class = "form-control"})

  @Html.LabelFor(model => model.Duration, new {@class = "form-label"})
  @Html.EditorFor(model => model.Duration, new { htmlAttributes = new {@class = "form-control"}})

  @Html.LabelFor(model => model.TotalBill, new {@class = "form-label"})
  @Html.EditorFor(model => model.TotalBill, new { htmlAttributes = new {@class = "form-control"}})
  <input class="form-control" asp-for="DateTime" /><br>
  <button type="submit" class="btn btn-input">Update Appointment</button>
}
<hr />
@Html.ActionLink("Back to appointment", "Details", new { id = Model.AppointmentId }, new { @role="button", @class="btn" })