@model HairSalon.Models.Client

<h2>Edit</h2>

<h4>Edit this client: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.Name, new { @class = "form-label"})
  @Html.EditorFor(model => model.Name, new { htmlAttributes = new {@class = "form-control"}})

  @Html.LabelFor(model => model.Email, new { @class = "form-label"})
  @Html.EditorFor(model => model.Email, new { htmlAttributes = new {@class = "form-control"}})

  @Html.LabelFor(model => model.Stylist, new {@class = "form-label"})
  @Html.DropDownList("StylistId", null, "--Client's Stylist--", new {@class = "form-control form-select"})

  <button class="btn btn-input" type="submit">Save changes</button>
}

@Html.ActionLink("Return to client", "Details", new { id = Model.ClientId }, new {@role = "button", @class = "btn"})